# Process the Health Data and Blood Sugar Data

## Extract Apple Health Data and Export to CSVs
* Command Line Tool to Process apple health's export.xml file 
* Create multiple CSV files for each data type. 
* Original Source: https://github.com/tdda/applehealthdata
### Setup and Usage
* Export your data from Apple Health App on your phone. 
* Unzip export.zip into the DATA directory.
* Inside your directory there should be a directory and file here: /DATA/export/apple_health_export/export.xml
* Run the following command

In [ ]:
%run -i apple-health-data-parser.py DATA/export/apple_health_export/export.xml

## Process Active Calorie Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
calories = pd.read_csv(r'DATA\export\apple_health_export\ActiveEnergyBurned.csv')

In [4]:
calories.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
1453638,Tyler’s Apple Watch,10.5,"<<HKDevice: 0x303312620>, name:Apple Watch, ma...",ActiveEnergyBurned,Cal,2024-06-12 11:35:26 -0700,2024-06-12 11:25:00 -0700,2024-06-12 11:34:51 -0700,2.430
1453639,Tyler’s Apple Watch,10.5,"<<HKDevice: 0x303312620>, name:Apple Watch, ma...",ActiveEnergyBurned,Cal,2024-06-12 11:47:09 -0700,2024-06-12 11:35:01 -0700,2024-06-12 11:35:11 -0700,0.079
1453640,Tyler’s Apple Watch,10.5,"<<HKDevice: 0x303312620>, name:Apple Watch, ma...",ActiveEnergyBurned,Cal,2024-06-12 11:48:31 -0700,2024-06-12 11:38:04 -0700,2024-06-12 11:47:35 -0700,1.322
1453641,Tyler’s Apple Watch,10.5,"<<HKDevice: 0x303312620>, name:Apple Watch, ma...",ActiveEnergyBurned,Cal,2024-06-12 11:59:04 -0700,2024-06-12 11:48:26 -0700,2024-06-12 11:58:17 -0700,1.090
1453642,Tyler’s Apple Watch,10.5,"<<HKDevice: 0x303312620>, name:Apple Watch, ma...",ActiveEnergyBurned,Cal,2024-06-12 12:09:21 -0700,2024-06-12 11:59:18 -0700,2024-06-12 12:09:10 -0700,4.267

In [5]:
calories.describe()

              value
count  1.453643e+06
mean   9.302784e-01
std    5.062170e+00
min    2.000000e-03
25%    1.680000e-01
50%    3.170000e-01
75%    4.800000e-01
max    1.431340e+02

In [6]:
# number of calories all time
calories.value.sum()

1352292.6919999996